@import url(fonts/stylesheet.css);

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#game-container,
body {
    display: flex;
    justify-content: center
}

body {
    font-family: "Visby CF", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    accent-color: #e4002b;
}

::selection {
    background-color: #e4002b;
    color: #fff;
}

#game-container {
    padding: 20px;
    width: 100%;
    max-width: 480px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#header,
#main {
    display: flex;
    justify-content: space-between
}

#header {
    border: solid 1px #000;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 10px
}

#main {
    flex: 0;
    padding: 10px 0;
    gap: 20px
}

#difficulty {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #000;
    border-radius: 10px;
    width: 100%;
    flex-wrap: wrap
}

#difficulty button {
    padding: 12px 24px;
    background-color: #fff;
    border: solid 1px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2em;
    width: 100%;
    max-width: 180px;
    flex-grow: 1
}

#current-order,
#queue,
#queue button {
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    width: 100%
}

#queue button {
    padding: 12px 24px;
    background-color: #fff;
    border: solid 1px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    margin: 5px 0;
    transition: background-color .3s, transform .2s
}

#queue button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05)
}

#queue button:active {
    background-color: #f2f2f2;
    transform: scale(.98)
}

#ingredients,
#kitchen {
    display: flex;
    gap: 10px;
    align-items: center
}

#kitchen {
    border: solid 1px #000;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px
}

#ingredients {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between
}

.ingredient-container {
    flex: 1 1 48%;
    margin-bottom: 10px
}

#cup,
.ingredient {
    width: 100%;
    text-align: center
}

.ingredient {
    padding: 8px;
    border: 1px solid #7d0017;
    border-radius: 5px;
    cursor: grab
}

.quantity {
    width: 80px
}

.quantity-display {
    font-size: 14px;
    color: #e4002b
}

#cup {
    height: 120px;
    background: #fff;
    border: 2px dashed #e4002b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e4002b;
    margin-top: 10px
}

#cup.dragover {
    background: #fff0f5
}

#complete-order,
#reset-ingredients {
    padding: 15px;
    margin-top: 10px;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    height: 50px
}

#complete-order:hover,
#reset-ingredients:hover {
    color: #e4002b
}

.notification {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(4px);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    animation: fadeIn 1s
}

.notification button {
    background-color: #e4002b;
    border: 0;
    padding: 12px 24px;
    font-family: 1.2em;
    border-radius: 6px;
    color: #fff;
    cursor: pointer
}

.notification button:hover {
    background-color: #b10021
}

#orders-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

#pending-orders {
    border: solid 1px #000;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px
}

#current-order h3,
#order-contents h3 {
    margin-top: 0
}
#cup-contents {
    padding: 10px;
    border: 1px dashed #ccc;
    background-color: #fff;
    min-height: 100px
}

#drag-ingredient {
    margin-top: 10px;
    padding: 10px 15px;
    border: 2px solid #7d0017;
    border-radius: 50px;
    cursor: grab;
    text-align: center;
    width: fit-content;
    user-select: none;
    transition: .3s
}

#drag-ingredient:hover {
    background-color: #f0f0f0
}

#ingredient-select {
    width: 30%;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #e4002b;
    border-radius: 50px;
    color: #e4002b;
    cursor: pointer;
    appearance: none;
    outline: 0;
    text-align: center;
    text-overflow: ellipsis;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2210%22 height=%2210%22 viewBox=%220 0 10 10%22%3E%3Cpath d=%22M0 0 L10 0 L5 7 Z%22 fill=%22%23E4002B%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center
}

#ingredient-select:hover {
    background-color: #f0f0f0;
    border-color: #b10021
}

#ingredient-select:focus {
    border-color: #f2f2f2
}

#ingredient-select option {
    font-size: 14px;
    padding: 6px;
    background-color: #fff;
    color: #e4002b;
    text-align: center
}

#game-over-menu {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 480px
}

#game-over-menu h2,
#game-over-menu p {
    font-size: 2em;
    color: #e4002b;
    margin-bottom: 20px
}

#game-over-menu p {
    font-size: 1.5em
}

#game-over-menu button {
    padding: 12px 24px;
    background-color: #e4002b;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    margin: 5px;
    transition: background-color .3s, transform .2s
}

#game-over-menu button:hover {
    background-color: #b10021;
    transform: scale(1.05)
}

#game-over-menu button:active {
    background-color: #7d0017;
    transform: scale(.98)
}

@media (max-width:600px) {
    body {
        font-size: 16px
    }

    #game-container {
        padding: 10px;
        max-width: 100%;
        height: 100%;
        flex-direction: column
    }

    #difficulty button {
        padding: 8px 16px;
        max-width: 100%
    }

    #current-order,
    #queue {
        padding: 8px
    }

    #pending-orders {
        background: #fff;
        margin: 10px
    }

    #ingredients {
        flex-wrap: wrap;
        gap: 5px
    }

    .ingredient-container {
        flex: 1 1 45%;
        margin-bottom: 5px
    }

    #cup {
        width: 100%;
        height: 70px;
        background: #fff;
        border: 2px dashed #e4002b;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #e4002b;
        margin-top: 10px;
        overflow: hidden;
        word-wrap: break-word
    }

    #complete-order,
    #reset-ingredients {
        padding: 10px;
        font-size: 14px;
        height: 40px
    }

    #cup-contents {
        font-size: 10px
    }

    #queue button {
        padding: 8px 16px;
        font-size: 1em;
        height: 40px
    }
}

@media (max-width:600px) and (max-height:700px) {
    body {
        font-size: 12px
    }

    #main {
        flex: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        gap: 20px
    }

    #game-container {
        padding: 5px;
        max-width: 100%;
        height: 100%;
        flex-direction: column
    }

    #difficulty button {
        padding: 6px 12px;
        font-size: .7em;
        max-width: 100%
    }

    #current-order,
    #queue {
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        text-align: center;
        width: 48%;
        height: 150px
    }

    #pending-orders {
        background: #fff;
        margin: 10px
    }

    #ingredients {
        gap: 5px
    }

.ingredient-container {
        flex: 1 1 45%;
        margin-bottom: 5px
    }

    #cup {
        width: 100%;
        height: 80px;
        background: #fff;
        border: 2px dashed #e4002b;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        color: #e4002b;
        margin-top: 5px;
        overflow: hidden;
        word-wrap: break-word
    }

    #complete-order,
    #ingredient-select,
    #reset-ingredients {
        padding: 8px;
        height: 35px
    }

    #queue button {
        padding: 6px 11px;
        height: 42px
    }

    #ingredient-select {
        width: 30%;
        background-color: #fffaf0;
        border: 2px solid #e4002b;
        border-radius: 5px;
        color: #e4002b;
        cursor: pointer;
        appearance: none;
        outline: 0;
        text-align: center;
        text-overflow: ellipsis;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2210%22 height=%2210%22 viewBox=%220 0 10 10%22%3E%3Cpath d=%22M0 0 L10 0 L5 7 Z%22 fill=%22%23E4002B%22/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center
    }
}

button,
input,
select {
    transition: .5s;
    font-family: "Visby CF", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}